


hr {border: solid #ddd; border-top-width: medium; border-right-width: medium; border-bottom-width: medium; border-left-width: medium; border-width: 1px 0 0; clear: both; height: 0; margin: 0px;}
.padding0 {padding-right:  0px;padding-left: 0px;}
.row {margin-right: -0px;margin-left: -0px;}
h1, h2, h3 {margin-top: 0px;margin-bottom: 0px;}
.h1, .h2, .h3 {margin-top: 0px;margin-bottom: 0px;}
h5, .h5 {line-height: 1.55em;margin-bottom: 0px;}

h4, .h4 {
    font-size: 14px;
}

p {
  margin-bottom: 0px;
  margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-rendering: optimizeLegibility;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

/* Menu Nav */
.mega-dropdown {position: static !important;width: 100%;padding-right:  0px;padding-left: 0px;}
.mega-dropdown-menu {padding: 10px 0px;width: 100%;box-shadow: none;-webkit-box-shadow: none;}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 10;
}

.mega-dropdown-menu > li > ul {padding: 0;margin: 0;}
.mega-dropdown-menu > li > ul > li {list-style: none;}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 900;
  color: #999;
  white-space: normal;
  font-size:  14px;
}

.btn-menu-categorias {
  font-size:  12px;
  line-height: 1.2;
  text-align: right;
  padding:  10px 0px;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    font-weight: normal;
    text-decoration: none;
    font-size: 10px;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    min-width: 7rem;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    word-wrap: break-word;
    list-style: none;
}

.orden-alfabetico-menu ul {list-style: none;}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {text-decoration: none;color: #444;background-color: #f5f5f5;}
.mega-dropdown-menu .dropdown-header {color: #428bca;font-size: 18px;font-weight: bold;}

.orden-alfabetico-menu {
  height:  200px;
  overflow: scroll;
  background-color:  #ECECEC;
  padding:  20px;
  border-radius:  10px;
  text-align: left;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {position: absolute;padding: 10px;}

.logo-header img {width:  65%;}
.navbar.navbar-transparent {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 0px;
  color: #ffffff;
  font-weight:  bold;
}
.card .card-header-primary {
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 39, 0, 0.2);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 0, 0, 0.2);
}
.card .card-header-primary, .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #2C2D3A, #00529C);
}
.nav-tabs .nav-item .nav-link.active {
    background-color: #008DF8;
    -webkit-transition: 0.3s background-color 0.2s;
    transition: 0.3s background-color 0.2s;
}
.navbar {
    border: 0;
    border-radius: 3px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    color: #ffffff;
    -webkit-box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.btn-menu-top {
  background: #013d88;
  background: -webkit-linear-gradient(to top, #013d88, #4AB1F9);
  background: linear-gradient(to top, #013d88, #4AB1F9);
  padding:  5px 10px;
  color: white;
  border-radius:  20px;
}

.btn-menu-top:hover {
  background: #035DCC;
  background: -webkit-linear-gradient(to top, #035DCC, #053168);
  background: linear-gradient(to top, #035DCC, #053168);
  color: white;
}

.btn-menu-top-categorias {
  background-color: #ffffff;
  padding:  5px 10px;
  color: #626262;
  border-radius:  20px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  margin-top:  5px;
}

.btn-menu-top-categorias:hover {background-color: #505050; color: #626262;}

.nav > li > a:hover, .nav > li > a:focus {text-decoration: none;}

.btn-menu-top-sesion {
  background: #e5e9ec;
  background: -webkit-linear-gradient(to bottom, #e5e9ec, #bbbbbb);
  background: linear-gradient(to bottom, #e5e9ec, #bbbbbb);
  padding:  5px 10px;
  color: #585858;
  border-radius:  20px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  margin-top:  2px;
}

.navbar .btn-menu-top,
.navbar .btn-menu-top-sesion,
.navbar .btn-menu-top-categorias {
    position: relative;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    line-height: 0px;
    margin-right:  10px;
    margin-left:  10px;
}

.btn-menu-top-categorias {
  background-color: #ffffff;
  padding:  5px 10px;
  color: #585858;
  border-radius:  20px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin-top:  2px;
}

.navbar .btn-menu-top-categorias {
    position: relative;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    line-height: 0px;
    margin-right:  10px;
    margin-left:  10px;
}

.navbar .navbar-nav .nav-item .nav-link {text-transform: none;}

fieldset {
  position: initial;
  display: inline-block;
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #333333;
  margin-top:  6px;
}

.btn-categorias-top {color:  white; margin-top:  0px;}
.btn-categorias-top a {color:  white;}
.btn-categorias-top:hover {color:  #417fc8;}
.btn-categorias-top:active {color:  #417fc8;}

.dropdown-toggle {color:  white;}
.dropdown-toggle a {color:  white;}
.dropdown-toggle:hover {color:  #417fc8;}
.dropdown-toggle:active {color:  #417fc8;}

.btn, .btn.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #999999;
    -webkit-box-shadow: 0 0px 0px 0 rgba(153, 153, 153, 0.14), 0 0px 0px -0px rgba(153, 153, 153, 0.2), 0 0px 0px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 0px 0px 0 rgba(153, 153, 153, 0.14), 0 0px 0px -0px rgba(153, 153, 153, 0.2), 0 0px 0px 0 rgba(153, 153, 153, 0.12);
}

.fondo-iniciar-sesion {padding:  5px;}
.margin-login-input {margin-bottom:  5px;margin-top:  5px;}

#prueba {
  border-radius:  5px;
  background: #ffffff;
  -webkit-box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
  box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
}

#input-publicar {
  border-radius:  5px;
  border: #c6c6c6 solid 1px;
  background: #ffffff;
}

#input-publicar:focus {  border:  #537AC7 solid 1px;}

#input-publicar-lista {
  border-radius:  5px;
  border: #c6c6c6 solid 1px;
  font-size:  16px;
  height:  34px;
  background: #ffffff;
  box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 20px
    margin: 2px 0 0;
        margin-top: 2px;
    font-size: 16px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.fileinput {display: inline-block;margin-bottom: 0px;}

.btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:hover {
    color: #fff;
    background-color: #053B80;
    border-color: transparent;
}

#dropdown-menu02 {
  padding:  10px 30px;
}
#dropdown-menu03 {min-width: 260px; padding: 0px 20px;}
.texto-aviso-login {font-size: 14px;margin-bottom:  10px; line-height: 1;}

#dropdown-notificaciones {min-width: 300px; padding: 20px;}

.texto-aviso-login02 {
  font-size: 12px;
  border-bottom:  #d8d8d8 solid 1px;
  padding:  5px 0px;
  text-align: left;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.texto-aviso-cerrar {
  font-size: 12px;
  color: #DEDEDE;
  border-bottom:  #d8d8d8 solid 1px;
  padding:  5px 0px;
  text-align: left;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.texto-aviso-login02:hover {color: #3FA0E8;}
.texto-aviso-login02 a:hover {color: #3FA0E8;}
.texto-aviso-cerrar:hover {color: #3FA0E8;}
.texto-aviso-cerrar a:hover {color: #3FA0E8;}
.texto-aviso-cerrar a {color: #bfbdbd;}

#img-login-registro {
  background-color:  #F7F7F7;
  border: #dfdfdf solid 2px;
  width:  75px;
  height:  75px;
  border-radius:  50%;
  color: #C4C4C4;
}

#img-login-registro i {font-size:  36px;margin-top:  10px;}
.captcha {padding-bottom: 15px;}
.img-notificaciones {width:  50%;}
a:hover, a:focus {color: #2c2c2c;text-decoration: underline;}
#icon-menu-top i {
  font-size: 22px;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
  margin-top:  0px;
}
#icon-menu-top i:hover {color: #42A5ED;}
/* Menu Nav */

.background-cover {background-repeat:no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat:no-repeat;}
.padding0 {padding-left: 0;padding-right: 0}
small, .small {font-size: 75%;color: #ffffff;}
.text-shadow { text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);}
.texto-gris-oscuro {color: #212121;}

.btn-general {
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.btn-general:hover {
	cursor: pointer;
	-webkit-box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.55);
	-moz-box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.55);
	box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.55);
}

.btn-azul {
  background-color: #4db5fb;
  background-color: -webkit-linear-gradient(to bottom, #4db5fb, #005aca);
  background-color: linear-gradient(to bottom, #4db5fb, #005aca);
  color: white;
  padding:  10px;
}

.btn-azul:hover {
  background-color: #4db5fb;
  background-color: -webkit-linear-gradient(to bottom, #4db5fb, #005aca);
  background-color: linear-gradient(to bottom, #4db5fb, #005aca);
}

.btn-gris {
  background: #4db5fb;
  background: -webkit-linear-gradient(to bottom, #4db5fb, #005aca);
  background: linear-gradient(to bottom, #4db5fb, #005aca);
}

.texto-blanco {color: #ffffff;}
.texto-oscuro {color: #262734;}
.texto-gris {color: #b7b7b7;}
.texto-azul-light {color: #289EF9;}
.texto-blanco {color: #ffffff;}
.texto-azul-claro {color: #e7effc;}

.fondo-gradient-azul {
  background: #42A8F3;
  background: -webkit-linear-gradient(to bottom, #42A8F3, #025CCC);
  background: linear-gradient(to bottom, #42A8F3, #025CCC);
}

.fondo-gradient-rosa {
  background: #2B3D53;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2B3D53, #5D7CA0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2B3D53, #5D7CA0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fondo-gradient-gris {
  background: #f0f0f0;
  background: -webkit-linear-gradient(to bottom, #f0f0f0, #d5d5d5);
  background: linear-gradient(to bottom, #f0f0f0, #d5d5d5);
}

.fondo-gradient-gris-oscuro {
  background: #6d6d6d;
  background: -webkit-linear-gradient(to top, #6d6d6d, #303030);
  background: linear-gradient(to top, #6d6d6d, #303030);
}

.fondo-azul-claro {background-color: #e7effc;}
.fondo-negro {background-color:  #000000;}
.fondo-blanco {background-color:  #ffffff;}
.fondo-gris-oscuro {background-color: #1b1b1b;}
.contenedor-slider-top {padding-top:0px; background-color:  #000000; padding-left:  0px; padding-right:  0px; margin-top: 0px;}
.contenedor-slider-categorias {background-color:  #ffffff; padding:  15px 0px;}
.contenedor-tarjetas {padding:  100px 0px;}

.titulo-mis-listas {
  padding:  10px 20px;
  border-radius:  50px;
  font-size: 18px;
  font-weight:  900;
  margin-bottom:  20px;
  margin-left:  0px;
  width: 30%;
  background-color:  #484848;
}

.titulo-entretenimiento a,
.titulo-gastronomia a,
.titulo-mis-listas a {color: white;}

.titulo-gastronomia-categorias {
  padding:  10px 20px;
  border-radius:  50px;
  font-size: 18px;
  font-weight:  900;
  margin-bottom:  20px;
  margin-left:  0px;
}

.titulo-gastronomia-categorias a {color:  white;}

.titulo-categorias {
  font-weight:  900;
  font-size:  18px;
  text-align: left;
  background-color:  #d8d7d7;
  border-bottom:  #afaeae solid 1px;
}

.header-categoria {padding:  20px; font-size:  16px; background-color:  #efefef; color:  #3f3f3f; border:#D8D8D8 solid 1px; border-radius:  10px 10px 0px 0px; line-height: 1;}
.header-categoria img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.titulo-entretenimiento {background-color:  #e2e2e2;}
.titulo-gastronomia {background-color:  #484848;}
.titulo-gastronomia-categorias {background-color:  #484848;}

.fondo-slider01 {
  background-image: url(../img/Slider-top/fondo-slider-01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.fondo-slider02 {
  background-image: url(../img/Slider-top/fondo-slider-02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.fondo-slider03 {
  background-image: url(../img/Slider-top/fondo-slider-03.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.fondo-slider-sinfoto {
  background-image: url(../img/Slider-top/fondo-slider-02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  -webkit-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
}

.titulo-slider-top {
  background: #000000;
  background: -webkit-linear-gradient(to bottom, rgb(0, 0, 0, 0.8), transparent);
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.8), transparent);
}

.titulo-slider-top h1 {
  color: white;
  font-weight:  900;
  letter-spacing:  -1px;
  margin-top:  0px;
  margin-bottom:  0px;
}

.lista-slider-top {
  background: #000000;
  background: -webkit-linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
  background: linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
}

.listado-slider-bottom {
  background-color:  rgb(0, 0, 0, 0.7);
  text-align: center;
  border-radius:  10px;
  font-weight:  900;
}

.listado-slider-bottom a {color:  white; text-decoration:  none;}
.listado-slider-bottom a:hover {color:  #42A5ED;}

.listado-slider-interna {
  background-color: rgb(255, 255, 255,0.6);
  text-align: center;
  border-radius:  10px;
  font-weight:  900;
  line-height: 1;
}

.listado-slider-interna a {color:  black; text-decoration:  none;}
.listado-slider-interna a:hover {color:  #05438E;}

.btn-listado-slider-top {background-color: rgb(8, 98, 207, 1); color:  white;}
.btn-listado-slider-top a {color:  white;}
.btn-listado-slider-top a:hover {color:  white;}
.btn-listado-slider-top:hover {background-color: rgb(8, 98, 207, 1); color:  white;}

.contenedor-tarjeta-snacktrend {
  border-radius: 0px 10px 10px 10px;
  background-color:  black;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
  margin-bottom:  20px;
}
.contenedor-tarjeta-snacktrend:hover {cursor: pointer;box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7), 0 6px 30px 0 rgba(0, 0, 0, 0.7);}

.header-tarjtea-snacktrend,
.header-tarjtea-snacktrend-01,
.header-tarjtea-snacktrend-02,
.header-tarjtea-snacktrend-03,
.header-tarjtea-snacktrend-04,
.header-tarjtea-snacktrend-05,
.header-tarjtea-snacktrend-06 {
	background-position: center center;
	background-repeat: no-repeat;
  height:  200px;
  border-radius: 0px 10px 0px 0px;
}

.header-tarjtea-snacktrend    {background-image: url(../img/Slider-top/fondo-slider-01.jpg);}
.header-tarjtea-snacktrend-01 {background-image: url(../img/Tarjetas/lista01.jpg);}
.header-tarjtea-snacktrend-02 {background-image: url(../img/Tarjetas/lista02.jpg);}
.header-tarjtea-snacktrend-03 {background-image: url(../img/Tarjetas/lista03.jpg);}
.header-tarjtea-snacktrend-04 {background-image: url(../img/Tarjetas/lista04.jpg);}
.header-tarjtea-snacktrend-05 {background-image: url(../img/Tarjetas/lista05.jpg);}
.header-tarjtea-snacktrend-06 {background-image: url(../img/Tarjetas/lista06.jpg);}

.titulo-header-tarjtea-snacktrend {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  border-radius: 0px 10px 0px 0px;
}

.footer-tarjeta-snacktrend h3,
.footer-tarjeta-snacktrend-top6 h3 {
  color:  white;
  text-align: left;
  margin-top:  0px;
  margin-bottom:  0px;
  font-weight:  900;
}

.vistas-tarjetas,
.fecha-tarjetas {
  font-size:  11px;
  font-weight:  900;
  color: #484848;
  letter-spacing: -1px;
}

.vistas-tarjetas {text-align: left;}
.fecha-tarjetas {text-align: right;;}
.icon-vistas i { color: #417fc8; font-size:  12px;}
.username-tarjetas { margin-top:  2px; text-align: left;}

.header-tarjeta-categoria h3 {
  text-align: left;
  margin-top:  0px;
  font-weight:  900;
  line-height: 1;
  border-bottom:  #f6f6f6 solid 1px;
  margin-bottom:  10px;
}

.titulo-tarjeta-categoria {
  background-color: #f1f1f1;
  display: flex;
  border-radius: 10px;
  font-size:  16px;
  line-height:  1;
  margin-top:  20px;
}

.contenedor-listado-categoria {
  display: flex;
  border-radius: 10px;
  padding:  5px;
  font-size:  16px;
  line-height:  1;
}

.lista-3posiciones {height: 180px;}
.username-snacktrend {text-align: left;line-height: 1;}

.lista-footer {text-align: left;line-height: 1;margin-top:  0px;font-size:  14px;}

.lista-footer {
  color: #333333;
  border: transparent solid 2px;
  border-radius:5px;
  padding:  5px;
  border-radius:3px;
  -webkit-transition: border 0.7s ease-out;
	-moz-transition: border 0.7s ease-out;
	-o-transition: border 0.7s ease-out;
	transition: border 0.7s ease-out;
}

.lista-footer:hover {border: #d8d7d7 solid 2px; color: #417fc8;}

footer .social-buttons a, footer .social-buttons .btn {margin-top: 0px;margin-bottom: 0px;}

.perfil-snacktrend-top6 {
  width:  10%;
  margin-right:  5px;
  margin-left:  5px;
  margin-top:  12px;
}

.perfil-tarjeta-categorias {margin-right:  5px;margin-left:  5px;margin-top:  0px;}
.perfil-tarjeta-categorias-slider {margin-right:  5px;margin-left:  5px;margin-top:  0px;}
.posicion-snacktrend {background-color:  #1b1b1b;font-weight:  900;}
.categoria-snacktrend {font-size:  12px;color: #417fc8; font-weight: normal;}
.categoria-snacktrend-top6 {font-size:  10px;color: #417fc8;}
.botones-tarjeta-snacktrend {display: inline-block;text-align: center;}

.contenedor-tarjeta-blanco,
.contenedor-tarjeta-blanco-categorias,
.contenedor-tarjeta-blanco-listas {
  padding:  10px;
  border-radius:  10px;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
}

.contenedor-tarjeta-blanco:hover {box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);}
.contenedor-tarjeta-blanco-categorias:hover {box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);}
.contenedor-tarjeta-blanco-listas:hover {box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);}

.contenedor-tarjeta-blanco02 {
  padding:  10px;
  border-radius:  10px;
  box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 30px 0 rgba(255, 255, 255, 0.2);
}

.imagen-listado-tarjeta {
  margin-right:  5px;
  background-image: url(../img/Slider-top/fondo-slider-02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  width:  50px;
  height:  50px;
}

.top-listado-tarjeta {
  padding:  5px;
  background: #000000;


  background: -webkit-linear-gradient(to top, rgb(0, 0, 0, 0.9), transparent);
  background: -moz-linear-gradient(to top, rgb(0, 0, 0, 0.9), transparent);
  background: -o-linear-gradient(to top, rgb(0, 0, 0, 0.9), transparent);
  background: -ms-linear-gradient(to top, rgb(0, 0, 0, 0.9), transparent);
  background: linear-gradient(to top, rgb(0, 0, 0, 0.9), transparent);


  margin-top: 35%;
  font-weight:  900;
  font-size:  24px;
  text-align: right;
}

.listado-tarjeta {margin-top:  5px;color: #505050; text-align: left; line-height: 1; font-size: 14px;}
.contenedor-listado-tarjetas {padding:  50px 0px; margin-top: 0px;}
.contenedor-ads {
    padding:  50px 100px;
    background-color:  #D9D9D9;
}

.contenedor-footer {background-color:  #ececec;}
.mapa-sitio-footer {text-align: left;}

.contenedor-snacktrend-footer {
  background-color:  white;
  padding:  20px;
  border-radius:  10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}

.contenedor-snacktrend-footer a {text-decoration: none;}
.logo-snacktrend-footer {border-bottom:  #D9D9D9 solid 1px; margin-bottom:  10px; padding:10px;}

.nav-footer a {
  color:  #222;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.nav-footer a:hover {color: #417fc8;}

.nav-mapa-sitio {
  display: inline-block;
  letter-spacing:  1px;
  text-align: center;
  font-size:  12px;
}

.nav-mapa-sitio a {
  color: #333333;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.nav-mapa-sitio a:hover {color: #0a6ebd;}
.margin-mapa-footer {margin-top:  10px;}

.item-slider-categorias,
.item-slider-categorias02,
.item-slider-categorias03 {
  text-align: center;
  font-weight:  900;
  color:  white;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;

}

.item-slider-categorias {background-color:  #798a94;}
.item-slider-categorias02 {background-color:  #3d4750;}
.item-slider-categorias03 {background-color:  #56636c;}
.item-slider-categorias:hover {background-color:  #333333;cursor: pointer; box-shadow: 0 10px 10px 0 rgba(65, 127, 200, 0.6), 0 6px 30px 0 rgba(65, 127, 200, 0.6);}
.item-slider-categorias02:hover {background-color:  #333333;cursor: pointer; box-shadow: 0 10px 10px 0 rgba(65, 127, 200, 0.6), 0 6px 30px 0 rgba(65, 127, 200, 0.6);}
.item-slider-categorias03:hover {background-color:  #333333;cursor: pointer; box-shadow: 0 10px 10px 0 rgba(65, 127, 200, 0.6), 0 6px 30px 0 rgba(65, 127, 200, 0.6);}

/* Redeem */
.contenedor-perfil-redeem {
  padding:  20px;
  display: block;
  border-radius:  20px;
  background: #f7f7f7;
  background: -webkit-linear-gradient(to bottom, #f7f7f7, #e9e9e9);
  background: linear-gradient(to bottom, #f7f7f7, #e9e9e9);
  margin-bottom:  20px;
}

.contenedor-votos-redeem {
  display: block;
  border-radius:  10px;
  background-color: #f7f7f7;
  font-size:  22px;
  margin-bottom:  20px;
}

.redes-redeem {display: flex;display: inline-block;}
.texto-comparte-redeem {font-size:  14px; margin-top:  5px;}
.borde-redeem {border-right:  #9f9f9f solid 1px; padding:  15px;}
.breadcumb-redeem {text-align: left;}
.reportar-redeem {text-align: right; background-color: transparent;}
.reportar-redeem a {color: #f1586c;}
.reportar-redeem a:hover {color: red;}
.titulo-redeem {text-align: left; padding:  5px 0px; font-weight: bolder;}
.titulo-redeem h2 {margin-top:  0px; margin-bottom: 0px;}

.contenedor-nav-redeem {background-color:  #f5f5f5;border-bottom:  #5a90e6 solid 5px;}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #5a90e6;
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(22, 50, 94, 0.6);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(22, 50, 94, 0.6);
}

.nav-pills .nav-item .nav-link:hover {background-color: rgba(200, 200, 200, 0.2);color: #5A90E6;}
.nav-pills .nav-item .nav-link {
    line-height: 24px;
    text-transform: none;
    font-size: 12px;
    font-weight: 500;
    min-width: auto;
    text-align: center;
    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    padding: 5px;
}

.contenedor-tabs-redeem {padding:  15px;border-top: #5a90e6 solid 1px;}
.contenedor-tarjeta-redeem {
  border-radius:  10px;
  background-color:  #fcfcfc;
  border:  #b9bbbf solid 1px;
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
}

.contenedor-tarjeta-redeem2 {
  border-radius:  10px;
  background-color:  #fcfcfc;
  border:  #b9bbbf solid 1px;
}

.contenedor-tarjeta-redeem:hover {cursor: grab;; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.2);}
.img-redeem {border-radius:  5px; margin-top:  0px;}
.titulo-reddem h2 {text-align: left; margin-top:  0px;}
.titulo-reddem h2 span {0px; color: #8f8f8f; font-size: 16px;}
.icon-redeem {color:  #d8d8d8; background-color:  transparent;}
.icon-redeem:hover {color:  #5a90e6;}
.icon-redeem i {font-size: 46px;}

.btn-derecha {
  float: right;
  padding:  10px;
  font-size:  26px;
  margin-bottom:  0px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.reordenar-redeem {display: flex;display: inline-block;}

.numero-menos,
.numero-mas {
  padding:  5px 10px;
  border-radius:  5px;
  color:  white;
  font-weight:  900;
  font-size:  22px;
  -webkit-transition: bbackground-color 0.5s ease-out;
  -moz-transition: background-color0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin-top:  5px;
}

.numero-bloqueado {
  padding:  5px 10px;
  border-radius:  5px;
  color:  white;
  font-weight:  900;
  font-size:  22px;
  margin-top:  20px;
  background-color: #d3d3d3;
}

.numero-mas {background-color:  #43c00e;}
.numero-mas:hover {background-color:  #28690c;}
.numero-menos {background-color:  #d0011b;}
.numero-menos:hover {background-color:  #680b17;}
/* Redeem */

/* Categorías  */
.tabla-categorias {
  border-radius:  0px 0px 10px 10px;
  border:  #D8D8D8 solid 1px;
  background-color:  #FCFCFC;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
  margin-bottom:  50px;
}
.tabla-categorias:hover {cursor: pointer;box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.3);}
.margin-categorias-tarjetas {margin-bottom:  30px;}
/* Categorías  */

/* Preguntas  */
.fondo-preguntas {background-color:  white;border-radius:  10px;box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);}
/* Preguntas  */

.numero-votar {font-size:  52px;line-height: 0.5; letter-spacing:  -5px;}
.numero-votar i {color:  #B9BBBF; font-size:  32px; margin-left:  3px;}
.numero-reordenar {font-size:  52px;line-height: 0.5; letter-spacing:  -5px; font-weight:  900;}
.numero-reordenar i {color:  #B9BBBF; font-size:  32px; margin-left:  3px;}
.numero-reordenar2 {font-size:  52px;color:  #222;font-weight:  900;line-height: 0.5;margin-top:  10px; letter-spacing:  -5px;}

/* Publicar  */
.texto-input-publicar {color: #6E6E6E;font-weight:  900;}
.iconos-publicar {display: flex;display: inline;}

.iconos-publicar-lista {
  background: #d7d7d7;
  background: -webkit-linear-gradient(to bottom, #d7d7d7, #999999);
  background: linear-gradient(to bottom, #d7d7d7, #999999);
  padding: 5px;
  border-radius:  5px;
  color:  white;
  display: inline-block;
  margin-top:  3px;
  margin-bottom:  3px;
  line-height: 0.8;
}

.iconos-publicar-lista i {color:  white;}
/* Publicar  */

.card .card-header:not([class*="header-"]) {
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background-color: #5a90e6;
    border-radius:  10px;
    margin-bottom:  15px;
}

.card .card-header:not([class*="header-"]) {
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-collapse .card-header {
    border-bottom: 1px solid #ddd;
    padding:  10px;
    margin: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #ffffff;
}

.card-collapse .card-header a:hover, .card-collapse .card-header a:active, .card-collapse .card-header a[aria-expanded="true"] {
    color: white;
    font-size:  22px;
    font-weight:  900;
    text-align: left;
}

.card-collapse .card-header a {
    color: white;
    font-size:  22px;
    font-weight:  900;
    text-align: left;
}

.card-collapse .card-body {padding: 30px;}
.contenedor-preguntas {background-color:  #eeeded;}

.preguntas {
  background-color: white;
  padding:  20px;
  border-radius:  10px;
  margin-bottom:  30px;
  text-align: left;
  font-size:  16px;
}

.preguntas h3 {margin-top:  0px;}

.progress {
    height: 24px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: rgb(182, 182, 182) solid 1px;
    border-radius:  10px;
    -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
}

.progress-listas {
    height: 24px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: rgb(182, 182, 182) solid 1px;
    border-radius:  10px;
    -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    border-radius:  10px;
}

.progress-bar-striped {
    background-size: 1rem 1rem;
    background: #005acb;
    background: -webkit-linear-gradient(to bottom, #005acb, #4db5fc);
    background: linear-gradient(to bottom, #005acb, #4db5fc);
    height:23px;
}

.contenedor-datos-editar {
  background-color:  #f1f1f1;
  padding:  20px;
  border-top: #e2e1e1 solid 2px;
}

.nombre-perfil-editar {
  text-align: left;
  background-color:  white;
  border-radius:  30px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
  margin-top:  0px;
}

.img-modal-niveles {margin-bottom:  10px;margin-top:  10px;width:  15%;}

.imagen-editar {display: flex;display: inline-block;}
.imagen-editar img {margin-top: -20px;}
.titulo-editar {color: #696969; font-size:  22px; line-height: 0.7;}
.nivel-editar {color: #0660ce; line-height: 0.7;}
.margin-sexo-editar {padding:  50px 0px;}

.sexo-editar {margin-right:  20px;}
.form-check-input {font-size:  22px;}

.form-check .form-check-label {
    cursor: pointer;
    padding-left: 15px;
    position: relative;
    font-size: 18px;
    margin-top:  -5px;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(3, 93, 204, 0.6);
    background: -webkit-linear-gradient(to top, rgb(3, 93, 204, 0.6), #053168);
    background: linear-gradient(to top, rgb(3, 93, 204, 0.6), #053168);
    overflow: scroll;
}

.titulo-modal {
  color:  white;
  font-size:  28px;
  margin-bottom:  10px;
  font-weight:  900;
  letter-spacing:  -1px;
}

.modal-dialog .modal-footer button {
    margin: 0;
    margin-right: 0px;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    margin-right: 5px;
    margin-left:  5px;
    color: #ffffff;
}

.modal-body {line-height: 1;}

.modal-dialog .modal-body + .modal-footer {padding-top: 0px;background-color: transparent;}
.contenedor-recomendaciones {padding:  50px 0px;}
.margin-recomendaciones {margin-bottom:  100px;}
.reportar-modal {padding:  20px 0px;text-align: left;line-height: 2;}
.texto-intrucciones p {text-align: left;padding:  10px 0px;font-size:  16px; text-align: justify;}
.texto-intrucciones p b {color: #4BB2FA; font-size:  22px; margin-bottom:  10px;}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 14px;
}

.wrapper-dropdown-3 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    outline: none;
    z-index: 2000;
    border-radius: 5px;
    border: #c6c6c6 solid 1px;
    background: #ffffff;
    box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}

.wrapper-dropdown-3 .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding:0;
    margin:0;
    background: white;
    border: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {float: right;color: inherit;}
.wrapper-dropdown-3 .dropdown li:first-of-type a {border-radius: 7px 7px 0 0;}
.wrapper-dropdown-3 .dropdown li:last-of-type a {border: none;border-radius: 0 0 7px 7px;}
/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {background: #f3f8f8;}
.wrapper-dropdown-3.active .dropdown {opacity: 1;  pointer-events: auto;}
.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

.btn-remover-categoria,
.btn-agregar-categoria {
  background-color:  transparent;
  border:  0px;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.btn-remover-categoria {color:  #888787;}
.btn-agregar-categoria {color:  #888787;}

.btn-remover-categoria:hover {color:  red;}
.btn-agregar-categoria:hover {color:  green;}

.login-cuenta {font-size:  12px; background-color:  transparent;}

li > a {padding-top: 0px;padding-bottom: 0px;}

.recuperar-cuenta {
  font-size:  10px;
  margin-top:  0px;
  text-align: center;
  margin-bottom:  5px;
  background-color:  transparent;
  border-bottom: #CCCCCC solid 1px;
  text-decoration: underline;
}

.recuperar-cuenta a {
  color: #A0A0A0;
}

.genero-login-perfil {margin-top:  10px;margin-bottom:  10px;font-size:  10px;}
.genero-login {margin-top:  10px;margin-bottom:  10px;font-size:  10px;display: flex;;}
.genero-modal-registro {text-align: center; margin-left: 0%; margin-right: 10%;}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  -webkit-transition: 0.5s background-color 0.2s;
  transition: 0.5s background-color 0.2s;
  background-color: rgb(0, 0, 0, 0.7);
  left: 0;
}

.sticky + .content {padding-top: 0px;}
.margin-subcategorias {margin-bottom:  30px;}

.login-fb {
  background:  #4267B2;
  padding:  5px;
  margin-top:  10px;
  margin-bottom:  10px;
  border-radius:  10px;
  font-size:  16px;
  color:  white;
  -webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

.login-fb:hover {background:  #394959;}

.login-btn {
  background:  #4BB2FA;
  padding:  5px;
  margin-top:  5px;
  margin-bottom:  5px;
  border-radius:  10px;
  font-size:  16px;
  color:  white;
  -webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

.login-btn:hover {background:  #394959;}

.notificacion-general,
.notificacion-gamification,
.notificacion-snacktrend {
  text-align: left;
  border-left:  #FFFFFF solid 5px;
  padding:  5px;
  margin-top:  5px;
  margin-bottom:  5px;
  font-size:  10px;
  color:  #2c2c2c;
}

.notificacion-general {border-left:  #5A90E6 solid 5px; color:  #2c2c2c;}
.notificacion-gamification {border-left:  #000000 solid 5px; color:  #2c2c2c;}
.notificacion-snacktrend {border-left:  #D9D9D9 solid 5px; color:  #2c2c2c;}

.snacks-notificaciones01,
.snacks-notificaciones02,
.snacks-notificaciones03 {
  padding:  5px;
  border-radius:  20px;
  margin-bottom:  10px;
  color: white;
  font-weight:  900;
  font-size:  12px;
}

.perfil-notificaciones {text-align: left; font-size: 10px; margin-bottom:  5px;}
.perfil-notificaciones img {width:10%; display: flex; display: inline-block;}

.snacks-notificaciones01 {
  background: #013d88;background: -webkit-linear-gradient(to top, #013d88, #4AB1F9);background: linear-gradient(to top, #013d88, #4AB1F9);
}

.snacks-notificaciones02 {
  background: #252e38;background: -webkit-linear-gradient(to top, #252e38, #0d427e);background: linear-gradient(to top, #252e38, #0d427e);
}

.snacks-notificaciones03 {
  background: #013d88;background: -webkit-linear-gradient(to top, #013d88, #a378dd);background: linear-gradient(to top, #a378dd, #4AB1F9);
}

.badge {position: absolute;margin-left: -20px;}
.btn-sesion-modal { width:  100%;font-size:  18px;}

.form-control, label, input::placeholder {line-height: 1;}

.snip1585 {
  color: #fff;
  display: inline-block;
  margin: 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.60s ease;
  transition: all 0.60s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {-webkit-transform: scaleY(2);transform: scaleY(2);}
.snip1585:after {-webkit-transform: scaleY(2);transform: scaleY(2);}
.snip1585 img {vertical-align: top;max-width: 100%;backface-visibility: hidden;}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 button {
  display: block;
  font-weight: 200;
  font-size:  16px;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.btn-ver-snacktrend {
  background-color:  transparent;
  border: rgb(255, 255, 255, 0.3) solid 1px;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  color:  white;
}

.btn-ver-snacktrend-vistas {background-color:  transparent;text-align: right;color:  white;}
.btn-ver-snacktrend-vistas-top6 {background-color:  transparent;text-align: right;color:  white;}

.btn-ver-snacktrend-top6 {
  background-color:  transparent;
  border: rgb(255, 255, 255, 0.3) solid 1px;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
  color:  white;
}

.btn-ver-snacktrend a,
.btn-ver-snacktrend-top6 a,
.btn-ver-snacktrend-vistas a,
.btn-ver-snacktrend-vistas-top6 a, {color:  white;}

.ver-snacktrend {background-color: rgba(0, 0, 0, 0.5;); border-radius: 50%; padding:  5px; line-height: 0.4; border:white solid 2px;}
.ver-snacktrend h3 {margin-top:  0px;}
.ver-snacktrend:hover {color:  #43AAF5;}
.ver-snacktrend i {color: white;margin-top:  0px;}
.ver-snacktrend i:hover {color: #43AAF5;}

.btn-ver-snacktrend {background-color:  white; color:#000000;}
.btn-ver-snacktrend:hover {background-color:  rgba(1, 92, 203, 0.6); color:white}
.btn-ver-snacktrend-vistas:hover {color:  white;}
.btn-ver-snacktrend-vistas-top6:hover {color:  rgba(1, 92, 203, 0.6);}
.btn-ver-snacktrend-top6:hover {background-color:  rgba(1, 92, 203, 0.6); color:white}

.vistas-snacktrend{text-align:center;color:  white;font-weight:  900; margin-left: 80%; margin-right:  20px; margin-top:  30px;}
.vistas-snacktrend a{font-size:  10px;color:  white;font-size: 14px;}
.vistas-snacktrend a:hover{color:rgba(1, 92, 203, 1);}

.btn-ver-notificaciones {
  background-color:  #D9D9D9;
  padding:  5px;
  text-align: center;
  border-radius:  10px;
  font-size: 12px;
  margin-top: 10px;
  padding-top: 10px:
  border-top:  #000000 solid 1px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  width:  100%;
}

.btn-ver-notificaciones:hover {background-color: #2c2c2c;}
.btn-ver-notificaciones a {color:  black;}
.btn-ver-notificaciones a:hover {color:  white;}
.btn-ver-notificaciones:hover {color:  white;}
.btn-ver-notificaciones {color:  black;}
[type="submit"] {width: 100%;border: 0px;}

.lista-original {border-right:  #ECECEC solid 1px;padding:  10px; background-color: #EEEEEE;}
.margin-listas-comparacion {margin-bottom:  50px;}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

.contenedor-notificacion,
.contenedor-notificacion-dropdown {
  background-color:  white;
  border:  #ededed solid 1px;
  display: inline-block;
  display: flex;
}

.contenedor-notificacion {
  font-size:  18px;
  padding:  10px;
  border-radius:  10px;
  margin-bottom:  20px;
}

.contenedor-notificacion-dropdown {
  font-size:  12px;
  padding:  5px 0px;
  border-radius:  10px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  color:  #333333;
  margin-bottom:  10px;
}

.contenedor-notificacion-dropdown a {color:  #333333;}
.contenedor-notificacion-dropdown:hover {background-color:  #F1F1F1;}

.texto-notificacion {text-align: left; margin-left:  10px;}
.texto-notificacion-dropdown {
  text-align: left; 
  margin-left:  0px; 
  font-size: 14px;
  line-height: 1;
}

.texto-notificacion small {font-size:  12px;}
.texto-notificacion-dropdown small {font-size:  12px;}
.imagen-notificacion img {
  width:  90%;
  margin-top:  3px;
}

.imagen-notificacion-dropdown img {width:  20%;margin-top:  3px;}

.contendor-fondo-notificaciones {
  background-color:  #f7f7f7;
  margin-bottom:  15px;
}

.borde-notificacion {border-left:  #4990e2 solid 10px;}
.sin-borde-notificacion {border-left:  transparent solid 15px;}
.modal-title img {width:  30%;}

.contenedor-cifras {
  padding:  10px;
  font-weight:  900;
  margin-bottom:  25px;
}

.contenedor-cifras big {font-size:  34px;}

.contenedor-cifras small {
  color: #505050;
  text-transform: uppercase;
  font-size:  10px;
}

.numero-01 {
  border-bottom:  #ECECEC solid 1px;
  padding-bottom:  10px;
  margin-bottom:  10px;
  line-height: 1;
}

.numero-02,
.numero-total,
.numero-negro {
  padding:  10px;
  border-radius:  10px;
  color: white;
  line-height: 0.8;
}

.numero-03 {
  border-bottom:  #ECECEC solid 1px;
  padding-bottom:  10px;
  margin-bottom:  10px;
  line-height: 1;
}

.numero-02 {background-color:  #4990e2;}
.numero-total {background-color:  #000000;}
.numero-total {background-color:  #000000;}

.numero-02 small,
.numero-total small {color: white;}
.numero-02 big,
.numero-total big {font-size:  26px;}
.puntos-totales {margin-top:  20px;}

.snackteam {
  margin-bottom:  10px;
  padding-bottom:  10px;
  border-bottom:  #B6B6B6 solid 1px;
}

.nivel-izquierda {text-align: right;color: #4990E2;}
.nivel-izquierda i {color: #333333;}
.margin-barra {margin-bottom:  20px;}

.btn-niveles i {margin-top:  5px;color: #696969; background-color:  transparent;}
.btn-niveles i:hover {color: #0660ce; cursor: pointer;}

.titulo-modal-snacks {font-size:  34px;margin-bottom:  30px;}
.subtitulo-modal-snacks {margin-bottom:  10px;font-size:  20px; line-height: 0.7;}
.subtitulo-modal-snacks small {font-size:  12px;}

.borde-separacion-modal {border-right:  white solid 1px;height:  30px;margin-bottom:  10px;}
.contenedor-niveles-modal {padding:  30px;}

/*tr{
 background-color: #ffffff;
 -webkit-transition: background-color 0.5s ease-out;
 -moz-transition: background-color 0.5s ease-out;
 -o-transition: background-color 0.5s ease-out;
 transition: background-color 0.5s ease-out;
}
Esto hace que el calendario no se vea
tr:hover{cursor: pointer;background-color: #ececec;}*/
.form-contacto {margin-bottom:  30px;}

.card-collapse .card-header a i {float: right;top: -5px;position: relative;font-size: 36px;}
.table-responsive {min-height: .01%;overflow-x: auto;padding: 10px;}
.margin-guardar-lista {margin-bottom:  30px;}

.btn-compartir-lista {
  text-align: right;
  color:  #333333;
  font-size:  22px;
  border-bottom: #E9EBEE solid 1px;
  margin-bottom:  10px;
  padding-bottom:  10px;
}

.panel.with-nav-tabs .panel-heading{padding: 5px 5px 0 5px;}
.panel.with-nav-tabs .nav-tabs{border-bottom: none;}
.panel.with-nav-tabs .nav-justified{margin-bottom: -1px;}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

.contenedor-imagenes-modal {
  padding:  20px;
  background-color: #ECECEC;
  margin-top:  20px;
}

.lista-primeros-lugares {border:  #5A90E6 solid 1px;}
.contenedor-modal-buscar {background-color:  #ECECEC;padding:  30px;}
.contenedor-modal-buscar img {margin-bottom:  10px;}

#menu-reordenar {
    line-height: 24px;
    text-transform: none;
    font-size: 32px;
    font-weight: 500;
    min-width: auto;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    padding: 15px;
}

#menu-reordenar:hover {background-color:  #5A90E6; color: white;}
#menu-reordenar:focus {color:  #ffffff;}

.select-publicar {
    font-size: 24px;
    font-weight: 900;
    height: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.2);
}

ul ul, ol ul, ul ol, ol ol {margin-bottom: 0;list-style: none;}

.btn-menu-categorias a {
  color: #484848;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.btn-menu-categorias a:hover {color: #428BCA;}
.todas-categorias {text-align: left;}

.contendor-iconos-modal-publicar {
  display: flex;
  background: #d7d7d7;
  background: -webkit-linear-gradient(to bottom, #d7d7d7, #999999);
  background: linear-gradient(to bottom, #d7d7d7, #999999);
  color:  white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.contendor-buscador-imagenes {height:  250px;overflow: scroll;}
.contendor-buscador-imagenes img {width:  50%;}
.titulo-editar-lista {font-size:  18px; margin-bottom:  30px;}
.titulo-editar-lista h3 {font-size:  24px;}

#nav-listas .nav-link {
  color:  white;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  font-weight:  900;
}

#nav-listas .nav-link:hover {color:  #4CB4FB;}

.link-tarjetas a {
  color: #333333;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.link-tarjetas a:hover {color: #417FC8; text-decoration: none;}

.autocomplete {
  position: relative;
  display: inline-block;
  padding: 6px 5px;
  font-size: 12px;
  margin-top:  0px;
  color:  white;
  margin-top:  8px;
}

.autocomplete-items {
  position: absolute;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #000000;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.autocomplete-items div:hover {background-color: #4BB3FA;}
.logo-footer {font-size: 12px; text-align: center;}
.logo-footer img {width:30%; margin-top:10px;}
.margen-mis-listas {margin-bottom:  30px;}

.contenedor-reordenar {padding:  50px 0px;}
.contendor-compartir {padding:  50px 0px;}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.margin-form-menu-top {margin-top:  15px;}

.imagen-perfil-main-menu img {width:  10%;}
.imagen-perfil-main-menu {width:  10%;}


.margin-categorias-seccion-interna {
  margin-bottom:  40px;
}

.margen-general-slider {padding:  50px 0px;}

.rc-anchor-normal {
    height: 74px;
    width: 100%;
}

.height-listas-principales {
  height: 180px;
}

#slider-gris-01 {padding-bottom:  50px;}

.navbar.navbar-transparent {
    background-color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0px;
    color: #fff;
    position:  fixed;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
}

.fileinput-exists {color:black;}

.g-recaptcha {
    width: 100%;
    height: 78px;
}

.g-recaptcha iframe {
    width: 100%;
    height: 78px;
}

.ya-tengo-cuenta {padding:  10px 0px; margin-bottom:  20px; font-size:  12px;}
.ya-tengo-cuenta a {text-decoration: underline;}

.fileinput-exists {padding:  0px;}

.margin-secciones-menu-top {margin-top:  50px;}

#dropdown-login {width:  250px;}

.editar-foto-perfil {
  background-color:  #E2E1E1;
  padding:  20px;
  border-radius:  20px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}

.margin-bottom-titulo {margin-bottom:  30px;}

.contenedor-tabla-categoria {padding:  10px; border-bottom:  #D9D9D9 solid 1px;}

.contenedor-tabla-categoria b a {color: #3FA0E8; text-decoration: underline; margin-right:  10px;}

.contenedor-tabla-categoria b a:hover {color: #3F3F3F;}

.margin-bottom-tarjetas {margin-bottom:  30px;}

#modal-registro {width:  450px;}
#drop-perfil {width:  250px;}

.texto-aviso-login a {color: #4BB2FA;}

.titulo-grande-lista h3 {
  font-size:  32px;
}

.texto-input-publicar-recomendacion {
  text-align: center;
  line-height: 1;
  margin-bottom:  10px;
  font-size:  14px;
}

.img-snactrend-fondo {
  background-image: url(https://media1.giphy.com/media/3ov9k2xUFIixxIdeKI/giphy.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  border-radius:  0px 10px 0px 0px;
}

.menu-listas {
  margin-bottom:  30px;
}

/*--
.bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder {
    line-height: 1.1;
    background: white;
    color:  black;
}
*/

#buscador .form-control, #buscador label, #buscador input::placeholder {
    line-height: 1.1;
    background: white;
    color:  black;
}

.navbar .navbar-nav .nav-item .nav-link {
    position: relative;
    color: inherit;
    padding: 0.9375rem;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 1;
}

.btn-comparar {
  width:  100%;
  background: #013d88;
  background: -webkit-linear-gradient(to top, #013d88, #4AB1F9);
  background: linear-gradient(to top, #013d88, #4AB1F9);
  padding:  5px;
  margin-top:  30px;
  color:  white;
  border-radius:  10px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.btn-comparar:hover {
  background-color:  red;
}

.ver-preview {
  text-align: right;
  margin-top:  -15px;
  color: #3FA0E8;
}

/* Queries */
@media only screen and (min-width : 150px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1200px) {
}


#menuResponsive .navbar-brand{
  width: 77% !important;
  padding: 11px 0px;
}

#menuResponsive .navbar-toggler{
   padding: 11px 0px;
}

#menuResponsive .navbar-nav{
  display: block;
}

#menuResponsive .collapsing{
  width: 100%;
}

.btn-movil-menu {
  background-color:  rgb(8, 98, 207, 1);
  padding:  10px;
  margin-bottom:  20px;
  color:  white;
}

.btn-movil-menu a {color:  white;}
