body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {font-family: 'Rubik', sans-serif;font-weight: 300;line-height: 1;}
hr {border: solid #ddd; border-top-width: medium; border-right-width: medium; border-bottom-width: medium; border-left-width: medium; border-width: 1px 0 0; clear: both; height: 0; margin: 0px;}
.padding0 {padding-right:  0px;padding-left: 0px;}
.row {margin-right: -0px;margin-left: -0px;}
h1, h2, h3 {margin-top: 0px;margin-bottom: 0px;}
.h1, .h2, .h3 {margin-top: 0px;margin-bottom: 0px;}
h5, .h5 {line-height: 1.55em;margin-bottom: 0px;}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-rendering: optimizeLegibility;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

/* Menu Nav */
.mega-dropdown {
  position: static !important;
  width: 100%;
  padding-right:  0px;
  padding-left: 0px;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 10;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 900;
  color: #999;
  white-space: normal;
  font-size:  14px;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    font-weight: normal;
    text-decoration: none;
    font-size: 10px;
    margin: 0 0.3125rem;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    min-width: 7rem;
    padding: 0.625rem 1.25rem;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    word-wrap: break-word;
    list-style: none;
}

.orden-alfabetico-menu ul {list-style: none;}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.orden-alfabetico-menu {
  height:  200px;
  overflow: scroll;
  background-color:  #ECECEC;
  padding:  20px;
  border-radius:  10px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    padding: 10px;
}

.logo-header img {width:  80%;}
.navbar.navbar-transparent {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 0px;
  color: #ffffff;
  font-weight:  bold;
}
.card .card-header-primary {
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 39, 0, 0.2);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 0, 0, 0.2);
}
.card .card-header-primary, .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #2C2D3A, #00529C);
}
.nav-tabs .nav-item .nav-link.active {
    background-color: #008DF8;
    -webkit-transition: 0.3s background-color 0.2s;
    transition: 0.3s background-color 0.2s;
}
.navbar {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    color: #555;
    -webkit-box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.btn-menu-top {
  background: #013d88;
  background: -webkit-linear-gradient(to top, #013d88, #4AB1F9);
  background: linear-gradient(to top, #013d88, #4AB1F9);
  padding:  5px 10px;
  color: white;
  border-radius:  20px;
}

.btn-menu-top:hover {
  background: #035DCC;
  background: -webkit-linear-gradient(to top, #035DCC, #053168);
  background: linear-gradient(to top, #035DCC, #053168);
  color: white;
}

.btn-menu-top-categorias {
  background-color: #ffffff;
  padding:  5px 10px;
  color: #626262;
  border-radius:  20px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  margin-top:  5px;
}

.btn-menu-top-categorias:hover {background-color: #505050; color: #626262;}

.nav > li > a:hover, .nav > li > a:focus {text-decoration: none;}

.btn-menu-top-sesion {
  background: #e5e9ec;
  background: -webkit-linear-gradient(to bottom, #e5e9ec, #bbbbbb);
  background: linear-gradient(to bottom, #e5e9ec, #bbbbbb);
  padding:  5px 10px;
  color: #585858;
  border-radius:  20px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  margin-top:  2px;
}

.navbar .btn-menu-top,
.navbar .btn-menu-top-sesion,
.navbar .btn-menu-top-categorias {
    position: relative;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
    line-height: 0px;
    margin-right:  10px;
    margin-left:  10px;
}

.navbar .navbar-nav .nav-item .nav-link {text-transform: none;}

fieldset {
  position: initial;
  display: inline-block;
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #333333;
  margin-top:  6px;
}

.btn-categorias-top {color:  white;}
.btn-categorias-top a {color:  white;}
.btn-categorias-top:hover {color:  #417fc8;}
.btn-categorias-top:active {color:  #417fc8;}

.search__input {
    width: 100%;
    padding: 8px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    margin-top:  10px;
}

.search__input::placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 8px 24px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #417fc8;
    border-radius: 0;
    background-position: 100% center;
    margin-top:  5px;
}


.btn, .btn.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #999999;
    -webkit-box-shadow: 0 0px 0px 0 rgba(153, 153, 153, 0.14), 0 0px 0px -0px rgba(153, 153, 153, 0.2), 0 0px 0px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 0px 0px 0 rgba(153, 153, 153, 0.14), 0 0px 0px -0px rgba(153, 153, 153, 0.2), 0 0px 0px 0 rgba(153, 153, 153, 0.12);
}

.fa-search {
  font-size: 1.4rem;
  color: #ffffff;
  z-index: 3;
  top: 25%;
  -webkit-transform: translate(-190px, 0);
      -ms-transform: translate(-190px, 0);
          transform: translate(-190px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.fondo-iniciar-sesion {padding:  20px;}
.fondo-iniciar-sesion02 {padding:  5px 20px;}
.margin-login-input {margin-bottom:  5px;margin-top:  5px;}

#prueba {
  border-radius:  5px;
  background: #ffffff;
  -webkit-box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
-moz-box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
}

#input-publicar {
  border-radius:  5px;
  border: #c6c6c6 solid 1px;
  font-size:  24px;
  height:  50px;
  background: #dfdfdf;
  background: -webkit-linear-gradient(to bottom, #e5e9ec, #dfdfdf);
  background: linear-gradient(to bottom, #e5e9ec, #dfdfdf);
  -webkit-box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
-moz-box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
}

#input-publicar-lista {
  border-radius:  5px;
  border: #c6c6c6 solid 1px;
  font-size:  16px;
  height:  34px;
  background: #ffffff;
  box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 360px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    font-size: 16px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.fileinput {
    display: inline-block;
    margin-bottom: 0px;
}

.btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:hover {
    color: #fff;
    background-color: #053B80;
    border-color: transparent;
}

#dropdown-menu02 {min-width: 160px;}
#dropdown-menu03 {min-width: 260px;}

.texto-aviso-login {font-size: 12px;margin-bottom:  10px;}

.texto-aviso-login02 {
  font-size: 12px;
  margin-bottom:  10px;
  padding-bottom:  10px;
  border-bottom:  #d8d8d8 solid 1px;
  padding:  10px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.texto-aviso-login02:hover {
  background-color:  #97bed8;
  color: #2d6cb6;
}

#img-login-registro {
  background-color:  #dfdfdf;
  border: #dfdfdf solid 2px;
  width:  75px;
  height:  75px;
  border-radius:  50%;
  color: #C4C4C4;
}

#img-login-registro i {font-size:  36px;margin-top:  20px;}
.captcha {padding-bottom: 15px;}
.img-notificaciones {width:  50%;}
a:hover, a:focus {color: #2c2c2c;text-decoration: underline;}
#icon-menu-top i {
  font-size: 22px;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
  margin-top:  1px;
}
#icon-menu-top i:hover {color: #42A5ED;}
/* Menu Nav */

.background-cover {background-repeat:no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat:no-repeat;}
.padding0 {padding-left: 0;padding-right: 0}
small, .small {font-size: 75%;color: #ffffff;}
.text-shadow { text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);}
.texto-gris-oscuro {color: #212121;}

.btn-general {
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.btn-general:hover {
	cursor: pointer;
	-webkit-box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.55);
	-moz-box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.55);
	box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.55);
}

.btn-azul {
  background-color: #4db5fb;
  background-color: -webkit-linear-gradient(to bottom, #4db5fb, #005aca);
  background-color: linear-gradient(to bottom, #4db5fb, #005aca);
  color: white;
  padding:  10px;
}

.btn-azul:hover {
  background-color: #4db5fb;
  background-color: -webkit-linear-gradient(to bottom, #4db5fb, #005aca);
  background-color: linear-gradient(to bottom, #4db5fb, #005aca);
}

.btn-gris {
  background: #4db5fb;
  background: -webkit-linear-gradient(to bottom, #4db5fb, #005aca);
  background: linear-gradient(to bottom, #4db5fb, #005aca);
}

.texto-blanco {color: #ffffff;}
.texto-oscuro {color: #262734;}
.texto-gris {color: #b7b7b7;}
.texto-azul-light {color: #289EF9;}
.texto-blanco {color: #ffffff;}
.texto-azul-claro {color: #e7effc;}

.fondo-gradient-azul {
  background: #4db5fb;
  background: -webkit-linear-gradient(to bottom, #4db5fb, #005aca);
  background: linear-gradient(to bottom, #4db5fb, #005aca);
}

.fondo-gradient-gris {
  background: #f0f0f0;
  background: -webkit-linear-gradient(to bottom, #f0f0f0, #d5d5d5);
  background: linear-gradient(to bottom, #f0f0f0, #d5d5d5);
}

.fondo-gradient-gris-oscuro {
  background: #6d6d6d;
  background: -webkit-linear-gradient(to top, #6d6d6d, #303030);
  background: linear-gradient(to top, #6d6d6d, #303030);
}

.fondo-azul-claro {background-color: #e7effc;}
.fondo-negro {background-color:  #000000;}
.fondo-blanco {background-color:  #ffffff;}
.fondo-gris-oscuro {background-color: #1b1b1b;}
.contenedor-snacktrend {padding:  50px 0px;}
.contenedor-slider-top {background-color:  #000000; padding-left:  0px; padding-right:  0px;}
.contenedor-slider-categorias {background-color:  #ffffff; padding:  15px 0px;}
.contenedor-tarjetas {padding:  100px 0px;}

.titulo-entretenimiento,
.titulo-gastronomia {
  padding:  10px 20px;
  border-radius:  50px;
  font-size: 24px;
  font-weight:  900;
  margin-bottom:  20px;
}

.titulo-categorias {
  font-weight:  900;
  font-size:  18px;
  text-align: left;
  background-color:  #d8d7d7;
  border-bottom:  #afaeae solid 1px;
}

.header-categoria {padding:  10px; font-size:  16px; background-color:  #f6f6f6; color:  #3f3f3f;}
.header-categoria img {width:60%;}

.titulo-entretenimiento {background-color:  #e2e2e2;}
.titulo-gastronomia {background-color:  #484848;}
.titulo-entretenimiento img {margin-right:  10px;}
.titulo-gastronomia img {margin-right:  10px;}

.fondo-slider01 {
  background-image: url(../img/Slider-top/fondo-slider-01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.fondo-slider02 {
  background-image: url(../img/Slider-top/fondo-slider-02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.fondo-slider03 {
  background-image: url(../img/Slider-top/fondo-slider-03.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.fondo-slider-sinfoto {
  background-image: url(../img/Slider-top/fondo-slider-02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  -webkit-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
}

.titulo-slider-top {
  background: #000000;
  background: -webkit-linear-gradient(to bottom, rgb(0, 0, 0, 0.8), transparent);
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.8), transparent);
  padding-top:  30px;
  margin-bottom:  200px;
}

.titulo-slider-top h1 {
  color: white;
  font-weight:  900;
  letter-spacing:  -1px;
  font-size: 3em;
  margin-top:  0px;
  margin-bottom:  0px;
}

.lista-slider-top {
  background: #000000;
  background: -webkit-linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
  background: linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
  padding:  50px 0px;
}

.listado-slider-bottom {
  background-color:  rgb(0, 0, 0, 0.7);
  text-align: center;
  padding:  15px;
  border-radius:  10px;
  font-weight:  900;
  font-size: 1.5em;
}

.listado-slider-bottom a {color:  white; text-decoration:  none;}
.listado-slider-bottom a:hover {color:  #42A5ED;}

.btn-listado-slider-top {
  background-color: rgb(8, 98, 207, 0.5);
  border:  transparent solid 5px;
  color:  white;
}

.btn-listado-slider-top a {color:  white;}
.btn-listado-slider-top a:hover {color:  white;}
.btn-listado-slider-top:hover {background-color: rgb(8, 98, 207, 1);border:  white solid 5px;color:  white;}
.logo-snacktrend {padding-bottom:  30px;}

.contenedor-tarjeta-snacktrend {
  border-radius: 0px 10px 10px 10px;
  background-color:  black;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
  margin-bottom:  20px;
}
.contenedor-tarjeta-snacktrend:hover {cursor: pointer;box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7), 0 6px 30px 0 rgba(0, 0, 0, 0.7);}

.header-tarjtea-snacktrend,
.header-tarjtea-snacktrend-01,
.header-tarjtea-snacktrend-02,
.header-tarjtea-snacktrend-03,
.header-tarjtea-snacktrend-04,
.header-tarjtea-snacktrend-05,
.header-tarjtea-snacktrend-06 {
	background-position: center center;
	background-repeat: no-repeat;
  height:  200px;
  border-radius: 0px 10px 0px 0px;
}

.header-tarjtea-snacktrend    {background-image: url(../img/Slider-top/fondo-slider-01.jpg);}
.header-tarjtea-snacktrend-01 {background-image: url(../img/Tarjetas/lista01.jpg);}
.header-tarjtea-snacktrend-02 {background-image: url(../img/Tarjetas/lista02.jpg);}
.header-tarjtea-snacktrend-03 {background-image: url(../img/Tarjetas/lista03.jpg);}
.header-tarjtea-snacktrend-04 {background-image: url(../img/Tarjetas/lista04.jpg);}
.header-tarjtea-snacktrend-05 {background-image: url(../img/Tarjetas/lista05.jpg);}
.header-tarjtea-snacktrend-06 {background-image: url(../img/Tarjetas/lista06.jpg);}

.titulo-header-tarjtea-snacktrend {
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  border-radius: 0px 10px 0px 0px;
}

.item-slider-tarjetas {height:  430px;}

.footer-tarjeta-snacktrend {padding:  20px;}
.footer-tarjeta-snacktrend-top6 {padding:  10px;}

.footer-tarjeta-snacktrend h3,
.footer-tarjeta-snacktrend-top6 h3 {
  color:  white;
  text-align: left;
  margin-top:  0px;
  margin-bottom:  0px;
  font-weight:  900;
}

.vistas-tarjetas {
  font-size:  14px;
  text-align: right;
  font-weight:  900;
  color: #484848;
  letter-spacing: -1px;
}

.icon-vistas i { color: #417fc8; font-size:  16px;}

.username-tarjetas { margin-top:  5px; text-align: left;}

.header-tarjeta-categoria h3 {
  text-align: left;
  margin-top:  0px;
  margin-bottom:  0px;
  font-weight:  900;
  line-height: 1;
  border-bottom:  #f6f6f6 solid 1px;
}

.titulo-tarjeta-categoria {
  background-color: #f1f1f1;
  display: flex;
  border-radius: 10px;
  font-size:  16px;
  line-height:  1;
  margin-bottom:  20px;
}

.contenedor-listado-categoria {
  display: flex;
  border-radius: 10px;
  padding:  5px;
  font-size:  16px;
  line-height:  1;
}

.footer-tarjeta-snacktrend h3 {font-size:  18px;}
.footer-tarjeta-snacktrend-top6 h3 {font-size:  14px;}

.username-snacktrend {
  text-align: left;
  line-height: 1;
  margin-top:  10px;
  font-size:  14px;
}

.lista-footer {
  text-align: left;
  line-height: 1;
  margin-top:  0px;
  font-size:  14px;
}

.lista-footer {
  color: #333333;
  border: transparent solid 2px;
  border-radius:5px;
  padding:  5px;
  border-radius:3px;
  -webkit-transition: border 0.7s ease-out;
	-moz-transition: border 0.7s ease-out;
	-o-transition: border 0.7s ease-out;
	transition: border 0.7s ease-out;
}

.lista-footer:hover {border: #d8d7d7 solid 2px; color: #417fc8;}

footer .social-buttons a, footer .social-buttons .btn {margin-top: 0px;margin-bottom: 0px;}

.perfil-snacktrend {
  width:  10%;
  margin-right:  10px;
  margin-left:  10px;
  margin-top:  5px;
}

.perfil-snacktrend-top6 {
  width:  10%;
  margin-right:  5px;
  margin-left:  5px;
  margin-top:  10px;
}

.perfil-tarjeta-categorias {
  width:  15%;
  margin-right:  5px;
  margin-left:  5px;
  margin-top:  0px;
}

.posicion-snacktrend {
  background-color:  #1b1b1b;
  padding:  10px 20px;
  font-size:  28px;
  font-weight:  900;
}

.padding30-bottom {padding-bottom:  30px;}
.categoria-snacktrend {font-size:  12px;color: #417fc8;}
.categoria-snacktrend-top6 {font-size:  10px;color: #417fc8;}

.botones-tarjeta-snacktrend {display: inline-block;text-align: center;}

.contenedor-tarjeta-blanco {
  padding:  10px;
  border-radius:  10px;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
}

.contenedor-tarjeta-blanco:hover {box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);}

.contenedor-tarjeta-blanco02 {
  padding:  10px;
  border-radius:  10px;
  box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 30px 0 rgba(255, 255, 255, 0.2);
}

.imagen-listado-tarjeta {
  width:  50px;
  height:  50px;
  margin-right:  5px;
  background-image: url(../img/Slider-top/fondo-slider-02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.top-listado-tarjeta {
  padding:  5px;
  background: #000000;
  background: -webkit-linear-gradient(to top, rgb(0, 0, 0, 0.9), transparent);
  background: linear-gradient(to top, rgb(0, 0, 0, 0.9), transparent);
  margin-top: 35%;
  font-weight:  900;
  font-size:  24px;
  text-align: right;
}

.listado-tarjeta {margin-top:  10px;color: #505050; text-align: left;}
.contenedor-listado-tarjetas {padding:  50px 0px;}
.contenedor-ads {padding:  50px 0px;}
.contenedor-footer {background-color:  #ececec;}
.contenedor-mapa-sito-footer {background-color:  #d9d9d9; padding:  30px 0px;}
.contenedor-footer-01 {padding:  50px 0px;}

.titulo-footer {font-size: 32px; border-bottom:  #D9D9D9 solid 1px;}
.mapa-sitio-footer {text-align: left;}

.contenedor-snacktrend-footer {
  background-color:  white;
  padding:  20px;
  border-radius:  10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}

.contenedor-snacktrend-footer a {text-decoration: none;}
.logo-snacktrend-footer {border-bottom:  #D9D9D9 solid 1px; margin-bottom:  10px; padding:10px;}
.titulo-footer-snacktrend {display: flex; margin-bottom:  5px;}

.posicion-snacktrend-footer {
  padding:  5px;
  font-size:  28px;
  font-weight:  900;
  margin-top:  5px;
}

.nav-footer {line-height:  2;}

.nav-footer a {
  color:  #222;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-ou
}

.nav-footer a:hover {color: #417fc8;}

.nav-mapa-sitio {
  display: inline-block;
  letter-spacing:  1px;
  text-align: center;
}

.nav-mapa-sitio a {
  color: #333333;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.nav-mapa-sitio a:hover {color: #0a6ebd;}
.margin-mapa-footer {margin-top:  10px;}

.icon-ver-snacktrend {color:  white;font-size:  32px;}

.item-slider-categorias,
.item-slider-categorias02,
.item-slider-categorias03 {
  padding:  5px 15px;
  border-radius:  50px;
  text-align: center;
  font-weight:  900;
  color:  white;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;

}

.item-slider-categorias {background-color:  #798a94;}
.item-slider-categorias02 {background-color:  #3d4750;}
.item-slider-categorias03 {background-color:  #56636c;}
.item-slider-categorias:hover {background-color:  #333333;cursor: pointer; box-shadow: 0 10px 10px 0 rgba(65, 127, 200, 0.6), 0 6px 30px 0 rgba(65, 127, 200, 0.6);}
.item-slider-categorias02:hover {background-color:  #333333;cursor: pointer; box-shadow: 0 10px 10px 0 rgba(65, 127, 200, 0.6), 0 6px 30px 0 rgba(65, 127, 200, 0.6);}
.item-slider-categorias03:hover {background-color:  #333333;cursor: pointer; box-shadow: 0 10px 10px 0 rgba(65, 127, 200, 0.6), 0 6px 30px 0 rgba(65, 127, 200, 0.6);}


/* Redeem */
.contenedor-snackteam {padding:  50px;}
.contenedor-perfil-redeem {
  padding:  20px;
  display: block;
  border-radius:  20px;
  background: #f7f7f7;
  background: -webkit-linear-gradient(to bottom, #f7f7f7, #e9e9e9);
  background: linear-gradient(to bottom, #f7f7f7, #e9e9e9);
  margin-bottom:  20px;
}
.contenedor-votos-redeem {
  display: block;
  border-radius:  10px;
  background-color: #f7f7f7;
  font-size:  22px;
  margin-bottom:  20px;
}
.redes-redeem {
  display: flex;
  display: inline-block;
}
.texto-comparte-redeem {font-size:  14px; margin-top:  5px;}
.borde-redeem {border-right:  #9f9f9f solid 1px; padding:  15px;}
.breadcumb-redeem {text-align: left;}
.reportar-redeem {text-align: right;}
.reportar-redeem a {color: #f1586c;}
.reportar-redeem a:hover {color: red;}
.titulo-redeem {text-align: left; padding:  20px 0px; font-weight: bolder;}
.titulo-redeem h2 {font-size: 52px; margin-top:  0px; margin-bottom: 0px;}

.contenedor-nav-redeem {
  background-color:  #f5f5f5;
  border-bottom:  #5a90e6 solid 5px;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #5a90e6;
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(22, 50, 94, 0.6);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(22, 50, 94, 0.6);
}

.nav-pills .nav-item .nav-link:hover {
    background-color: rgba(200, 200, 200, 0.2);
    color: #5A90E6;
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    text-transform: none;
    font-size: 36px;
    font-weight: 500;
    min-width: auto;
    text-align: center;
    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    padding: 30px;
}

.contenedor-tabs-redeem {padding:  15px;border-top: #5a90e6 solid 1px;}

.contenedor-tarjeta-redeem {
  padding:  20px;
  border-radius:  10px;
  background-color:  #fcfcfc;
  border:  #b9bbbf solid 1px;
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  margin-bottom:  20px;
}

.contenedor-tarjeta-redeem:hover {cursor: grab;; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.2);}
.img-redeem {border-radius:  5px;}
.titulo-reddem h2 {text-align: left; margin-top:  0px;}
.titulo-reddem h2 span {0px; color: #8f8f8f; font-size: 16px;}
.icon-redeem {color:  #d8d8d8; margin-top:  20px;}
.icon-redeem:hover {color:  #5a90e6;}
.icon-redeem i {font-size: 46px;}

.btn-derecha {
  float: right;
  padding:  10px;
  font-size:  26px;
  margin-bottom:  0px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.reordenar-redeem {
  display: flex;
  display: inline-block;
}

.numero-menos,
.numero-mas {
  padding:  5px 10px;
  border-radius:  5px;
  color:  white;
  font-weight:  900;
  font-size:  22px;
  -webkit-transition: bbackground-color 0.5s ease-out;
  -moz-transition: background-color0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin-top:  20px;
}

.numero-bloqueado {
  padding:  5px 10px;
  border-radius:  5px;
  color:  white;
  font-weight:  900;
  font-size:  22px;
  margin-top:  20px;
  background-color: #d3d3d3;
}

.numero-mas {background-color:  #43c00e;}
.numero-mas:hover {background-color:  #28690c;}
.numero-menos {background-color:  #d0011b;}
.numero-menos:hover {background-color:  #680b17;}
/* Redeem */


/* Categorías  */
.tabla-categorias {
  border-radius:  10px;
  border:  #f2f2f2 solid 1px;
  background-color:  #ECECEC;
  -webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
}
.tabla-categorias:hover {cursor: pointer;box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.3);}
.margin-categorias-tarjetas {margin-bottom:  30px;}
/* Categorías  */


/* Preguntas  */
.contenedor-preguntas {padding:  50px;}

.fondo-preguntas {
  background-color:  white;
  border-radius:  10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}
/* Preguntas  */

.numero-votar {
  font-size:  52px;
  color:  #222;
  font-weight:  900;
  line-height: 0.5;
}

.numero-votar i {color:  #B9BBBF; font-size:  26px; margin-left:  3px;}

.numero-reordenar {
  font-size:  52px;
  color:  #222;
  font-weight:  900;
  line-height: 0.5;
  margin-top:  30px;
}

/* Publicar  */
.texto-input-publicar {
  text-align: right;
  color:: #7d7d7d;
  font-weight:  900;
  padding-bottom:  10px;
}

.contenedor-select-publicar {margin-bottom:  30px;}
.iconos-publicar {display: flex;display: inline;}

.iconos-publicar-lista {
  background: #d7d7d7;
  background: -webkit-linear-gradient(to bottom, #d7d7d7, #999999);
  background: linear-gradient(to bottom, #d7d7d7, #999999);
  padding: 5px;
  border-radius:  5px;
  color:  white;
  display: inline-block;
}

.iconos-publicar-lista i {color:  white; font-size:  26px;}
/* Publicar  */

.card .card-header:not([class*="header-"]) {
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background-color: #5a90e6;
    border-radius:  10px;
    margin-bottom:  15px;
}

.card .card-header:not([class*="header-"]) {
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-collapse .card-header {
    border-bottom: 1px solid #ddd;
    padding:  10px;
    margin: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #ffffff;
}

.card-collapse .card-header a:hover, .card-collapse .card-header a:active, .card-collapse .card-header a[aria-expanded="true"] {
    color: white;
    font-size:  22px;
    font-weight:  900;
    text-align: left;
}

.card-collapse .card-header a {
    color: white;
    font-size:  22px;
    font-weight:  900;
    text-align: left;
}

.card-collapse .card-body {padding: 30px;}
.contenedor-preguntas {background-color:  #eeeded;}

.preguntas {
  background-color: white;
  padding:  20px;
  border-radius:  10px;
  margin-bottom:  30px;
  text-align: left;
  font-size:  16px;
}
.preguntas h3 {margin-top:  0px;}
.puntos-perfil h2 {line-height: 0.5; font-size:  46px;}
.puntos-perfil-small {font-size:  12px;}

.progress {
    height: 24px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: rgb(182, 182, 182) solid 1px;
    border-radius:  10px;
    -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.25);
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    border-radius:  10px;
}

.progress-bar-striped {
    background-size: 1rem 1rem;
    background: #005acb;
    background: -webkit-linear-gradient(to bottom, #005acb, #4db5fc);
    background: linear-gradient(to bottom, #005acb, #4db5fc);
}

.contenedor-datos-editar {
  background-color:  #f1f1f1;
  padding:  20px;
  border-top: #e2e1e1 solid 2px;
}

.nombre-perfil-editar {
  text-align: left;
  background-color:  white;
  padding:  5px 20px;
  border-radius:  30px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
  margin-top:  0px;
  width:  15%;
  margin-bottom:  20px;
}

.imagen-editar {display: flex;display: inline-block;}
.imagen-editar img {margin-top: -20px;}
.titulo-editar {color: #696969; font-size:  22px; line-height: 0.7;}
.nivel-editar {color: #0660ce; line-height: 0.7;}
.margin-sexo-editar {padding:  50px 0px;}

.sexo-editar {margin-right:  20px;}
.form-check-input {font-size:  22px;}

.form-check .form-check-label {
    cursor: pointer;
    padding-left: 15px;
    position: relative;
    font-size: 18px;
    margin-top:  -5px;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(3, 93, 204, 0.6);
    background: -webkit-linear-gradient(to top, rgb(3, 93, 204, 0.6), #053168);
    background: linear-gradient(to top, rgb(3, 93, 204, 0.6), #053168);
    overflow: scroll;
}

.titulo-modal {
  color:  white;
  font-size:  28px;
  margin-bottom:  10px;
  font-weight:  900;
  letter-spacing:  -1px;
}

.modal-body {
  padding:  20px;
  margin:  20px;
  border:  #b9bbbf solid 1px;
  border-radius:  10px;
}

.modal-dialog .modal-footer button {
    margin: 0;
    margin-right: 0px;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    margin-right: 5px;
    margin-left:  5px;
    color: #ffffff;
}

.modal-dialog .modal-body + .modal-footer {padding-top: 20px;background-color: #ECECEC;}
.contenedor-recomendaciones {padding:  30px;}
.margin-recomendaciones {margin-bottom:  100px;}

.reportar-modal {
  padding:  20px 0px;
  text-align: left;
  line-height: 2;
}

.texto-intrucciones p {text-align: left;padding:  30px 0px;font-size:  16px; text-align: justify;}
.texto-intrucciones p b {color: #4BB2FA; font-size:  22px; margin-bottom:  10px;}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 14px;
}

.wrapper-dropdown-3 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    outline: none;
    z-index: 2000;
    border-radius: 5px;
    border: #c6c6c6 solid 1px;
    background: #ffffff;
    box-shadow: inset -1px 2px 16px 0px rgba(0,0,0,0.15);
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding:0;
    margin:0;
    /* Styles */
    background: white;
    border: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {float: right;color: inherit;}
.wrapper-dropdown-3 .dropdown li:first-of-type a {border-radius: 7px 7px 0 0;}
.wrapper-dropdown-3 .dropdown li:last-of-type a {border: none;border-radius: 0 0 7px 7px;}
/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {background: #f3f8f8;}
.wrapper-dropdown-3.active .dropdown {opacity: 1;  pointer-events: auto;}
.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

.btn-remover-categoria,
.btn-agregar-categoria {
  background-color:  transparent;
  border:  0px;
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.btn-remover-categoria {color:  #D9D9D9;}
.btn-agregar-categoria {color:  #D9D9D9;}

.btn-remover-categoria:hover {color:  red;}
.btn-agregar-categoria:hover {color:  green;}

.login-cuenta {font-size:  12px;}

li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.recuperar-cuenta {
  font-size:  12px;
  margin-top:  0px;
  text-align: right;
  margin-bottom:  15px;
}

.genero-login {
  margin-top:  0px;
  margin-bottom:  0px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  -webkit-transition: 0.5s background-color 0.2s;
  transition: 0.5s background-color 0.2s;
  background-color: rgb(0, 0, 0, 0.7);
}

.sticky + .content {padding-top: 0px;}
.margin-subcategorias {margin-bottom:  30px;}

.login-fb {
  background:  #4267B2;
  padding:  10px;
  margin-top:  10px;
  margin-bottom:  10px;
  border-radius:  10px;
  font-size:  16px;
  color:  white;
  -webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

.login-fb:hover {background:  #394959;}

.login-btn {
  background:  #4BB2FA;
  padding:  10px;
  margin-top:  5px;
  margin-bottom:  5px;
  border-radius:  10px;
  font-size:  16px;
  color:  white;
  -webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

.login-btn:hover {background:  #394959;}

.notificacion-general,
.notificacion-gamification,
.notificacion-snacktrend {
  text-align: left;
  border-left:  #FFFFFF solid 5px;
  padding:  5px;
  margin-top:  5px;
  margin-bottom:  5px;
  font-size:  10px;
  color:  #2c2c2c;
}

.notificacion-general {border-left:  #5A90E6 solid 5px; color:  #2c2c2c;}
.notificacion-gamification {border-left:  #000000 solid 5px; color:  #2c2c2c;}
.notificacion-snacktrend {border-left:  #D9D9D9 solid 5px; color:  #2c2c2c;}

.snacks-notificaciones01,
.snacks-notificaciones02,
.snacks-notificaciones03 {
  padding:  5px;
  border-radius:  20px;
  margin-bottom:  10px;
  color: white;
  font-weight:  900;
  font-size:  12px;
}

.perfil-notificaciones {text-align: left; font-size: 10px; margin-bottom:  5px;}
.perfil-notificaciones img {width:10%; display: flex; display: inline-block;}

.snacks-notificaciones01 {
  background: #013d88;background: -webkit-linear-gradient(to top, #013d88, #4AB1F9);background: linear-gradient(to top, #013d88, #4AB1F9);
}

.snacks-notificaciones02 {
  background: #252e38;background: -webkit-linear-gradient(to top, #252e38, #0d427e);background: linear-gradient(to top, #252e38, #0d427e);
}

.snacks-notificaciones03 {
  background: #013d88;background: -webkit-linear-gradient(to top, #013d88, #a378dd);background: linear-gradient(to top, #a378dd, #4AB1F9);
}

.badge {position: absolute;margin-left: -20px;}
.btn-sesion-modal { width:  100%;font-size:  18px;}

.form-control, label, input::placeholder {line-height: 1;}

.snip1585 {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.img-snactrend-fondo img {
  width: 100%;
  height:  300px;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.60s ease;
  transition: all 0.60s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 20px solid rgba(1, 92, 203, 0.8);
  border-bottom: 20px solid rgba(1, 92, 203, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {-webkit-transform: scaleY(2);transform: scaleY(2);}
.snip1585:after {-webkit-transform: scaleY(2);transform: scaleY(2);}
.snip1585 img {vertical-align: top;max-width: 100%;backface-visibility: hidden;}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 button {
  display: block;
  font-weight: 700;
  font-size:  16px;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.btns-votar-snacktrend {
  display: inline-block;
  display: flex;
}

.btn-ver-snacktrend {
  background-color:  transparent;
  border: white solid 1px;
  padding:  10px 15px;
  border-radius: 20px;
  margin-bottom:  10px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  width: 100%;
  margin-left:  5px;
  margin-right: 5px;
  color:  white;
}

.btn-ver-snacktrend a {
  color:  white;
}

.btn-ver-snacktrend:hover {background-color:  rgba(1, 92, 203, 1); color:white}

.vistas-snacktrend{text-align:center;color:  white;font-weight:  900; margin-left:  20px; margin-right:  20px;}
.vistas-snacktrend a{font-size:  10px;color:  white;font-size: 14px;}
.vistas-snacktrend a:hover{color:rgba(1, 92, 203, 1);}

.btn-ver-notificaciones {
  background-color:  #D9D9D9;
  padding:  10px;
  text-align: center;
  border-radius:  10px;
  font-size: 12px;
  margin-top: 10px;
  padding-top: 10px:
  border-top:  #000000 solid 1px;
  -webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
  width:  100%;
}

.btn-ver-notificaciones:hover {
  background-color: #2c2c2c;
}

.btn-ver-notificaciones a {color:  black;}
.btn-ver-notificaciones a:hover {color:  white;}
.btn-ver-notificaciones:hover {color:  white;}
.btn-ver-notificaciones {color:  black;}


[type="submit"] {
   width: 100%;
   border: 0px;
}

.lista-original {
  border-right:  #ECECEC solid 1px;
  padding:  20px;
}

.margin-listas-comparacion {
  margin-bottom:  50px;
}

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

.contenedor-notificacion {
  padding:  15px;
  border-radius:  15px;
  background-color:  white;
  border:  #ededed solid 1px;
  margin-bottom:  20px;
  display: inline-block;
  display: flex;
  font-size:  20px;
}

.texto-notificacion {text-align: left; margin-left:  10px;}
.texto-notificacion small {font-size:  12px;}
.imagen-notificacion img {
  width:  90%;
  margin-top:  3px;
}

.titulo-seccion h2 {
  font-size:  48px;
  padding:  30px 0px;
}

.contendor-fondo-notificaciones {
  background-color:  #f7f7f7;
  padding:  50px;
  margin-bottom:  15px;
}

.borde-notificacion {border-left:  #4990e2 solid 15px;}
.sin-borde-notificacion {border-left:  transparent solid 15px;}
.modal-title img {width:  50%;}
.perfil-mislistas {margin-bottom:  30px;}

.contenedor-cifras {
  padding:  10px;
  font-weight:  900;
}

.contenedor-cifras big {font-size:  34px;}

.contenedor-cifras small {
  color: #505050;
  text-transform: uppercase;
  font-size:  10px;
}

.numero-01 {
  border-bottom:  #ECECEC solid 1px;
  padding-bottom:  10px;
  margin-bottom:  10px;
}

.numero-02 {
  background-color:  #4990e2;
  padding:  10px;
  border-radius:  10px;
  color: white;
}

.numero-02 small {color: white;}
.numero-02 big {font-size:  26px;}
.puntos-totales {margin-top:  20px;}

.snackteam {
  margin-bottom:  10px;
  padding-bottom:  10px;
  border-bottom:  #B6B6B6 solid 1px;
}

.nivel-izquierda {text-align: right;color: #4990E2;}
.nivel-izquierda i {color: #333333;}
.margin-barra {margin-bottom:  20px;}

.btn-niveles i {margin-top:  5px;color: #696969;}
.btn-niveles i:hover {color: #0660ce; cursor: pointer;}

.titulo-modal-snacks {
  font-size:  34px;
  margin-bottom:  30px;
}


/* Queries */
@media only screen and (min-width : 150px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1200px) {
}


#menuResponsive .navbar-brand{
  width: 77% !important;
}